<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Blogs</li>
    <li class="breadcrumb-item"><%= link_to 'Topics', topics_path %></li>
  </ol>
</nav>

<%= render 'blogs/admin_actions', blog: nil %>
<%= paginate @blogs %>
<%= render @blogs %>
<%= paginate @blogs %>