<div class="blog-post">
  <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
  <h2 class="blog-post-title"><%= @blog.title %></h2>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(@blog.created_at, Time.now) %> ago</p>
  <%= @blog.body %>

  <% unless current_user.is_a? GuestUser %>
    <div>
      <h3>Comment form</h3>
      <%= form_for @comment, url: '#' do |comment_form| %>
        <div class='form-group'>
          <%= comment_form.label :content %>
          <%= comment_form.text_area :content, class: 'form-control' %>
        </div>

        <%= comment_form.submit 'Post Comment', class: 'btn btn-primary' %>
      <% end %>
    </div>
  <% end %>

  <%= render @blog.comments %>

</div>


