<div class="blog-post">
  <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
  <h2 class="blog-post-title"><%= @blog.title %></h2>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(@blog.created_at, Time.now) %> ago</p>
  <%= @blog.body %>

  <%= render 'comments/comment_form' unless current_user.is_a? GuestUser %>
  <div id="blog_comments" data-blog-id='<%= @blog.id %>'>
    <%= render @blog.comments %>
  </div>
</div>


