<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Blogs', blogs_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Topics', topics_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @topic.title %></li>
  </ol>
</nav>
<h1><%= @topic.title %></h1>

<%= paginate @blogs %>
<%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
<%= render @blogs %>
<%= paginate @blogs %>