<p id="notice"><%= notice %></p>

<%= image_tag @portfilio_item.main_image unless @portfilio_item.main_image.nil? %><br/>

<p>
  <strong>Title:</strong>
  <%= @portfilio_item.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @portfilio_item.subtitle %>
</p>

<p>
  <strong>Body:</strong>
  <%= @portfilio_item.body %>
</p>

<h2>Technologies Used:</h2>
<ul>
<%@portfilio_item.technologies.each do |technology| %>
  <li><%= technology.name %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_portfolio_path(@portfilio_item) %> |
<%= link_to 'Back', portfolios_path %>

<hr/>