<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">

      <%= render 'layouts/blog_nav' %>
      <%= render 'layouts/blog_featured' %>

      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8 blog-main">
            <%= yield %>
            <nav class="blog-pagination">
              <a class="btn btn-outline-primary" href="#">Older</a>
              <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
            </nav>
          </div>

          <%= render "layouts/blog_sidebar" %>
        </div>
      </main>

      <%= render "layouts/blog_footer" %>
    </div>
  </body>
</html>
